/* adding variables for consistent color scheme*/
:root {
    --green: #18453b;
    --whitetext: ghostwhite;
    --whitebackground: ghostwhite;
}

* {
    box-sizing: border-box;
  }

.hide {
    display: none;
}

.show {
    display: flex;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.headerPhrase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 60%;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.btn {

    margin: 10px;
}

/* styling for the options to answer the questions as they are populated */
.answerBox {
    margin: 10px;
    padding: 10px;
    color: var(--whitetext);
    background-color: var(--green);
}

/* styling to change cursor and show which choices is in focus */
.answerBox:hover {
    cursor: grab;
    opacity: 75%;
}

